.love {
  font-size: 2vw;
  /*color: #FCF2F2;*/
  /*color: black;*/
}

#labelInput {
  font-size: 2.7vw;
  color: #212121;
}

.input-field > label:not(.label-icon).active {
  color: #212121;
}

#fieldInput:focus {
  color: #212121;
  border-bottom: 1px solid #424242;
  box-shadow: 0 1px 0 0 #000;
  /*color: #1d1d1d;*/
}

#fieldInput::placeholder {
  color: #bdbdbd;
}

.input-field input[type="text"]:focus {
  border-bottom: 1px solid #212121;
  box-shadow: 0 1px 0 0 #212121;
}
/*
html,
body {
  overflow: hidden;
}*/
header {
  animation: blinker 3s linear infinite;
}
body {
  /*background-color: #1d1d1d;*/
  /*background-color: #e3f2fd;*/
  background-color: #fafafa;
}

section {
  height: 100vh;
  padding-top: 50px;
  position: relative;
}

#center-align {
  margin: auto;
}

.instruction {
  animation: blinker 3s linear infinite;
  color: #e53935;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}
